<form class="form-inline">
  <div class="form-group">
    <label for="inputPassword6">Description</label>
    <input type="text" id="inputPassword6" class="form-control mx-sm-3" aria-describedby="passwordHelpInline">
  </div>
</form>